<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Atualizar Transação</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1>Atualizar Transação</h1>
    <form action="#" th:action="@{/api/transactions/update/{id}(id=${transaction.id})}" method="post">
        <input type="hidden" name="id" th:value="${transaction.id}" />
        
        <label for="description">Descrição:</label>
        <input type="text" id="description" name="description" th:value="${transaction.description}" required />
        
        <label for="amount">Valor:</label>
        <input type="number" id="amount" name="amount" th:value="${transaction.amount}" required step="0.01" />
        
        <button type="submit">Atualizar Transação</button>
    </form>
    <a href="/api/transactions/list">Ver Transações</a>
</body>
</html>